.color-bg-white {
    background: #ffffff;
}

.color-bg-b1 {
  background: #424242;
}

.color-bg-b2 {
  background: #e53935;
}

.color-bg-b3 {
  background: #B71C1C;
}

.color-bg-b4 {
  background: #1fa345;
}

.color-bg-b5 {
  background: #7bc202;
}

.color-bg-b6 {
  background: #ffdd36;
}

.color-bg-b7 {
  background: #EEEEEE;
}

.color-bg-b8 {
  background: #1565C0;
}

.color-bg-b9 {
  background: #1E88E5;
}
