<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MS plantillas</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="/js/jquery.min.js"></script>
    <script src="/js/foundation.min.js"></script>
    <script src="/js/app.js"></script>
    <script src="/js/fontawesome-all.min.js"></script>
  </head>
  <body>
    <div class="grid-container">
      <div class="grid-x grid-padding-x">
        <div class="large-12 cell">
          <h1>Bienvenidos MS (mokup styles)</h1>
        </div>
      </div>

      <div class="grid-x grid-padding-x">
        <div class="large-12 cell">
          <div class="callout">
            <h3>Leyenda de componentes</h3>
            <p>Links a todos los componentes creados por equipo MS</p>
            <div class="grid-x grid-padding-x">
              <div class="large-2 medium-3 cell">
                <p><a href="#h">(H) titulos</a></p>
                <hr>
                <ul class="vertical menu">
                  <li><a href="#">none</a></li>
                  <li><a href="#">none</a></li>
                </ul>
              </div>
              <div class="large-2 medium-3 cell">
                <p><a href="#p">(P) parrafos</a></p>
                <hr>
                <ul class="vertical menu">
                  <li><a href="#p-p1" class="color-ct-c1">parrafo uno</a></li>
                  <li><a href="#">none</a></li>
                </ul>
              </div>
              <div class="large-2 medium-3 cell">
                <p><a href="#a">(A) Links</a></p>
                <hr>
                <ul class="vertical menu">
                  <li><a href="#">none</a></li>
                  <li><a href="#">none</a></li>
                </ul>
              </div>
              <div class="large-2 medium-3 cell">
                <p><a href="#ul">(UL) listas</a></p>
                <hr>
                <ul class="vertical menu">
                  <li><a href="#">none</a></li>
                  <li><a href="#">none</a></li>
                </ul>
              </div>
              <div class="large-2 medium-3 cell">
                <p><a href="#color-text">(Color-text) Colores para textos</a></p>
                <hr>
                <ul class="vertical menu">
                  <li><a href="#">none</a></li>
                  <li><a href="#">none</a></li>
                </ul>
              </div>
              <div class="large-2 medium-3 cell">
                <p><a href="#color-bg">(Color-bg) colores para fondos</a></p>
                <hr>
                <ul class="vertical menu">
                  <li><a href="#">none</a></li>
                  <li><a href="#">none</a></li>
                </ul>
              </div>
              <div class="large-2 medium-3 cell">
                <p><a href="#buttons">(Buttons) botenes</a></p>
                <hr>
                <ul class="vertical menu">
                  <li><a href="#bt-bt1" class="color-ct-c1">boton 1</a></li>
                  <li><a href="#bt-bt2" class="color-ct-c1">boton 2 (circular)</a></li>
                </ul>
              </div>
              <div class="large-2 medium-3 cell">
                <p><a href="#inputs">(Input) cajas de texto</a></p>
                <hr>
                <ul class="vertical menu">
                  <li><a href="#txt-1" class="color-ct-c1">caja de texto uno</a></li>
                  <li><a href="#">none</a></li>
                </ul>
              </div>
              <div class="large-2 medium-3 cell">
                <p><a href="#forms">(Forms) formularios definidos</a></p>
                <hr>
                <ul class="vertical menu">
                  <li><a href="#ms-form1" class="color-ct-c1">Formulario 1</a></li>
                  <li><a href="#">none</a></li>
                </ul>
              </div>
              <div class="large-2 medium-3 cell">
                <p><a href="#cards">(Cards) cards definidos</a></p>
                <hr>
                <ul class="vertical menu">
                  <li><a href="#ms-card1" class="color-ct-c1">Card uno</a></li>
                  <li><a href="#">none</a></li>
                </ul>
              </div>
              <div class="large-2 medium-3 cell">
                <p><a href="#headers">(Header) bloques de cabecera definidos</a></p>
                <hr>
                <ul class="vertical menu">
                  <li><a href="#ms-header1" class="color-ct-c1">Header 1</a></li>
                  <li><a href="#">none</a></li>
                </ul>
              </div>
              <div class="large-2 medium-3 cell">
                <p><a href="#footers">(Footer) Pie de paginas definidos</a></p>
                <hr>
                <ul class="vertical menu">
                  <li><a href="#">none</a></li>
                  <li><a href="#">none</a></li>
                </ul>
              </div>
              <div class="large-2 medium-3 cell">
                <p><a href="https://fontawesome.com/icons?d=gallery" target="_blank" class="color-ct-c1">(Iconos)</a></p>
                <hr>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- ============= INICIO DE BLOQUE DE TITULOS =============-->
      <div class="grid-x callout">
        <h3 id="h" class="cell">Titulos:</h3>
        <h1 class="cell ms-h-h1"><a href="#" class="ms-a-a1 color-ct-c4">DeportStart</a></h1>
        <h2 class="cell ms-h-h2 color-ct-c1">Ingresar</h2>
        <h1 class="cell ms-h-h3 color-ct-c1">Hola Cristhian Santa Cruz Carrion</h1>
        <h4 class="cell ms-h-h4 ms-c color-ct-c1">Bienvenido a&nbsp<span class="color-ct-c11">DeportStart</span>, Sigue y administra tus torneos</h4>
      </div>
      <!-- ============= FIN =============-->

      <!-- ============= INICIO DE BLOQUE DE PARRAFOS =============-->
      <div class="grid-x callout">
        <h3 id="p" class="cell">PARRAFOS:</h3>
        <div class="grid-x grid-margin-x">
          <div class="cell">
            <p class="ms-p-p1">Tipo de letra etiqueta o label 1</p>
          </div>
          <p class="cell ms-p-p2 color-ct-c1">Olvidaste tu contraseña letra 2</p>
          <p class="cell ms-p-p2 color-ct-c2">Email o contraseña incorrectos</p>
          <p class="cell ms-p-p2 color-ct-c3 ms-c">Email o contraseña incorrectos</p>
          <p class="cell ms-p-p4 ms-c color-ct-c1">Mira como funciona DeporStore:</p>
        </div>
      </div>
      <!-- ============= FIN =============-->

      <!-- ============= INICIO DE BLOQUE DE LINKS =============-->
      <div class="grid-x callout">
        <h3 id="a" class="cell">LINKS:</h3>
        <a href="#" class="cell ms-p-p2 color-ct-c1 ms-a-a2 ms-c">¿Olvidaste tu contraseña?</a>
        <a href="#" class="cell ms-p-p2 color-ct-c4 ms-a-a1 ms-l">texto alineado a la izquierda</a>
      </div>
      <!-- ============= FIN =============-->

      <!-- ============= INICIO DE BLOQUE LISTAS =============-->
      <div class="grid-x callout">
        <h3 id="ul" class="cell">LISTAS:</h3>
      </div>
      <!-- ============= FIN =============-->

      <!-- ============= INICIO DE BLOQUE COLORES PARA TEXTOS =============-->
      <div class="grid-x callout">
        <h3 id="color-text" class="cell">COLORES PARA TEXTOS:</h3>
        <p class="cell small-6 medium-3 large-2 color-ct-c1">color-ct-c1</p>
        <p class="cell small-6 medium-3 large-2 color-ct-c2">color-ct-c2</p>
        <p class="cell small-6 medium-3 large-2 color-ct-c3">color-ct-c3</p>
        <p class="cell small-6 medium-3 large-2 color-ct-c4">color-ct-c4</p>
        <p class="cell small-6 medium-3 large-2 color-ct-c5">color-ct-c5</p>
        <p class="cell small-6 medium-3 large-2 color-ct-c6">color-ct-c6</p>
        <p class="cell small-6 medium-3 large-2 color-ct-c7">color-ct-c7</p>
        <p class="cell small-6 medium-3 large-2 color-ct-c8">color-ct-c8</p>
        <p class="cell small-6 medium-3 large-2 color-ct-c9">color-ct-c9</p>
        <p class="cell small-6 medium-3 large-2 color-ct-c10">color-ct-c10</p>
        <p class="cell small-6 medium-3 large-2 color-ct-c11">color-ct-c11</p>
        <p class="cell small-6 medium-3 large-2 color-ct-c12">color-ct-c12</p>
        <p class="cell small-6 medium-3 large-2 color-ct-c13">color-ct-c13</p>
        <p class="cell small-6 medium-3 large-2 color-ct-c14">color-ct-c14</p>
        <p class="cell small-6 medium-3 large-2 color-ct-c15">color-ct-c15</p>
        <p class="cell small-6 medium-3 large-2 color-ct-c16">color-ct-c16</p>
        <p class="cell small-6 medium-3 large-2 color-ct-c17">color-ct-c17</p>
        <p class="cell small-6 medium-3 large-2 color-ct-c18">color-ct-c18</p>
      </div>
      <!-- ============= FIN =============-->

      <!-- ============= INICIO DE BLOQUE COLORES PARA FONDOS =============-->
      <div class="grid-x grid-margin-x callout">
        <h3 id="color-bg" class="cell">COLORES PARA FONDOS:</h3>
        <p id="color-bg-1" class="cell small-6 medium-3 large-2 color-bg-b1 color-ct-white">color-bg-b1</p>
        <p id="color-bg-2" class="cell small-6 medium-3 large-2 color-bg-b2 color-ct-white">color-bg-b2</p>
        <p id="color-bg-2" class="cell small-6 medium-3 large-2 color-bg-b3 color-ct-white">color-bg-b3</p>
        <p id="color-bg-2" class="cell small-6 medium-3 large-2 color-bg-b4 color-ct-white">color-bg-b4</p>
        <p id="color-bg-2" class="cell small-6 medium-3 large-2 color-bg-b5 color-ct-white">color-bg-b5</p>
        <p id="color-bg-2" class="cell small-6 medium-3 large-2 color-bg-b6 color-ct-white">color-bg-b6</p>
        <p id="color-bg-2" class="cell small-6 medium-3 large-2 color-bg-b7">color-bg-b7</p>
        <p id="color-bg-2" class="cell small-6 medium-3 large-2 color-bg-b8 color-ct-white">color-bg-b8</p>
        <p id="color-bg-2" class="cell small-6 medium-3 large-2 color-bg-b9 color-ct-white">color-bg-b9</p>
        <p id="color-bg-2" class="cell small-6 medium-3 large-2 color-bg-b10 color-ct-white">color-bg-b10</p>
        <p id="color-bg-2" class="cell small-6 medium-3 large-2 color-bg-b11 color-ct-white">color-bg-b11</p>
        <p id="color-bg-2" class="cell small-6 medium-3 large-2 color-bg-b12">color-bg-b12</p>
        <p id="color-bg-2" class="cell small-6 medium-3 large-2 color-bg-b13">color-bg-b13</p>
        <p id="color-bg-2" class="cell small-6 medium-3 large-2 color-bg-b14">color-bg-b14</p>
        <p id="color-bg-2" class="cell small-6 medium-3 large-2 color-bg-b15">color-bg-b15</p>
        <p id="color-bg-2" class="cell small-6 medium-3 large-2 color-bg-b16">color-bg-b16</p>
        <p id="color-bg-2" class="cell small-6 medium-3 large-2 color-bg-b17">color-bg-b17</p>
        <p id="color-bg-2" class="cell small-6 medium-3 large-2 color-bg-b18">color-bg-b18</p>
      </div>
      <!-- ============= FIN =============-->

      <!-- ============= INICIO DE BLOQUE COLORES PARA BOTTONS =============-->
      <div class="grid-x callout">
        <h3 id="buttons" class="cell">BOTONES:</h3>
        <div class="cell grid-x grid-margin-x">
          <h4 id="bt-bt1" class="cell">boton uno</h4>
          <div class="cell small-12 medium-4 large-2">
            <div class="ms-bt-bt1">
              <button type="button" class="ms-bt-bt1__btn color-bg-b4 color-ct-white">Ingresar</button>
            </div>
          </div>
          <div class="cell small-12 medium-4 large-2">
            <div class="ms-bt-bt1">
              <button type="button" class="ms-bt-bt1__btn">Ingresar</button>
            </div>
          </div>
          <div class="cell small-12 medium-4 large-8">
            <div class="ms-bt-bt1">
              <button type="button" class="ms-bt-bt1__btn color-bg-b1 color-ct-white">Ingresar</button>
            </div>
          </div>
          <div class="cell small-12 medium-4 large-6">
            <div class="ms-bt-bt1">
              <button type="button" class="ms-bt-bt1__btn color-bg-b9 color-ct-white">Registrar</button>
            </div>
          </div>
        </div>

        <div class="cell"><hr></div>

        <div class="cell grid-x grid-margin-x">
          <h4 id="bt-bt2" class="cell">Boton 2</h4>
          <div class="cell small-4">
            <div class="ms-bt-bt2">
              <button type="button" name="button" class="ms-bt-bt2__btn color-bg-b8 color-ct-white">
                <i class="fab fa-facebook-f"></i>
              </button>
            </div>
          </div>
          <div class="cell small-4">
            <div class="ms-bt-bt2">
              <button type="button" name="button" class="ms-bt-bt2__btn color-bg-b3 color-ct-white">
                <i class="fab fa-google-plus-g"></i>
              </button>
            </div>
          </div>
          <div class="cell small-4">
            <div class="ms-bt-bt2">
              <button type="button" name="button" class="ms-bt-bt2__btn color-bg-b2 color-ct-white">
                <i class="fab fa-instagram"></i>
              </button>
            </div>
          </div>
        </div>

        <div class="cell grid-x grid-margin-x">
          <h5 id="ms-bt-b3" class="cell">boton 3 (ms-bt-b3)</h5>
          <div class="cell small-5 medium-4 large-2">
            <a href="#" class="ms-bt-b3 color-bg-b2 color-ct-white">Crear Torneo</a>
          </div>
          <div class="cell small-5 medium-4 large-2">
            <a href="#" class="ms-bt-b3 color-bg-b1 color-ct-white">Acceder</a>
          </div>
          <div class="cell small-5 medium-4 large-2">
            <a href="#" class="ms-bt-b3 color-bg-b4 color-ct-white">Comprar</a>
          </div>
          <div class="cell small-5 medium-4 large-6">
            <a href="#" class="ms-bt-b3 color-bg-b9 color-ct-white">Enviar recomendacion</a>
          </div>
        </div>
      </div>
      <!-- ============= FIN =============-->

      <!-- ============= INICIO DE BLOQUE COLORES PARA CAJAS DE TEXTO =============-->
      <div class="grid-x callout">
        <h3 id="inputs" class="cell">CAJAS DE TEXTO:</h3>
        <div class="cell grid-x grid-margin-x">
          <h4 id="txt-1" class="cell">caja de texto 1:</h4>
          <div class="cell small-12 medium-6 large-4">
            <div class="ms-in-1">
              <label class="ms-p-p1 color-ct-c1">Correo Electrónico:</label>
              <input type="email" class="ms-in-1__txt color-ct-c1 color-bg-b7" placeholder="E-mail">
              <i class="fas fa-envelope ms-in-1__icon"></i>
            </div>
          </div>
          <div class="cell small-12 medium-6 large-4">
            <div class="ms-in-1">
              <label class="ms-p-p1">Password:</label>
              <input type="password" class="ms-in-1__txt color-bg-b7" placeholder="Contraseña">
              <i class="fas fa-unlock ms-in-1__icon"></i>
            </div>
          </div>
          <div class="cell small-12 large-8">
            <div class="ms-in-1">
              <label class="ms-p-p1">Nombres:</label>
              <input type="text" class="ms-in-1__txt color-bg-b7" placeholder="Nombres">
              <i class="fas fa-id-card ms-in-1__icon"></i>
            </div>
          </div>
        </div>
      </div>
      <!-- ============= FIN =============-->

      <!-- ============= INICIO DE BLOQUE FORMULARIOS =============-->
      <div class="grid-x callout">
        <h3 id="forms" class="cell">FORMULARIOS DEFINIDOS:</h3>
        <div class="grid-x grid-margin-x align-center">
          <h4 id="ms-form1" class="cell">Formulario 1</h4>
          <form class="cell small-12 medium-8 large-5 ms-form1 grid-x grid-margin-x">
            <h1 class="cell ms-h-h1"><a href="#" class="color-ct-c4 ms-a-a1">DeportStart</a></h1>
            <h2 class="cell ms-h-h2 color-ct-c1">Ingresar</h2>
            <span class="cell ms-p-p1 color-ct-c2 ms-c">Usuario o contraseña inocrrectos</span>
            <div class="cell small-12">
              <div class="ms-in-1">
                <label class="ms-p-p1 color-ct-c1">Correo Electrónico:</label>
                <input type="email" class="ms-in-1__txt color-ct-c1 color-bg-b7" placeholder="E-mail">
                <i class="fas fa-envelope ms-in-1__icon"></i>
              </div>
              <!-- <span class="cell ms-p-p1 color-ct-c2 ms-c">Ingrese un email valido</span> -->
            </div>
            <div class="cell grid-x">
              <div class="cell small-12 large-6">
                <div class="ms-in-1">
                  <label class="ms-p-p1">Password:</label>
                  <input type="password" class="ms-in-1__txt color-bg-b7" placeholder="Contraseña">
                  <i class="fas fa-unlock ms-in-1__icon"></i>
                </div>
              </div>
              <div class="cell small-12 large-6 grid-padding-x">
                <div class="cell ms-bt-bt1">
                  <button type="submit" class="ms-bt-bt1__btn color-bg-b5 color-ct-white">Ingresar</button>
                </div>
              </div>
            </div>
            <div class="cell grid-x">
              <a href="#" class="cell ms-a-a1 color-ct-c1 ms-p-p2 ms-c">¿Olvidaste tu contraseña?</a>
            </div>
            <div class="cell grid-x grid-margin-x">
              <div class="cell small-4">
                <div class="ms-bt-bt2">
                  <button type="button" name="button" class="ms-bt-bt2__btn color-bg-b8 color-ct-white">
                    <i class="fab fa-facebook-f"></i>
                  </button>
                </div>
              </div>
              <div class="cell small-4">
                <div class="ms-bt-bt2">
                  <button type="button" name="button" class="ms-bt-bt2__btn color-bg-b3 color-ct-white">
                    <i class="fab fa-google-plus-g"></i>
                  </button>
                </div>
              </div>
              <div class="cell small-4">
                <div class="ms-bt-bt2">
                  <button type="button" name="button" class="ms-bt-bt2__btn color-bg-b2 color-ct-white">
                    <i class="fab fa-instagram"></i>
                  </button>
                </div>
              </div>
            </div>
            <div class="cell grid-x">
              <p class="cell color-ct-c1 ms-p-p2 ms-c">¿No tienes una cuenta?</p>
              <div class="cell">
                <div class="cell ms-bt-bt1">
                  <button type="submit" class="ms-bt-bt1__btn color-bg-b9 color-ct-white">Registrar</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <!-- ============= FIN =============-->

      <!-- ============= INICIO DE CARDS =============-->
      <div class="grid-x callout">
        <h3 id="cards" class="cell">CARDS DEFINIDOS:</h3>
        <div class="grid-x grid-margin-x align-center">
          <p id="ms-card1">card 1:</p>
          <h1 class="cell ms-h-h3 color-ct-c1">Hola Cristhian Santa Cruz Carrion</h1>
          <h4 class="cell ms-h-h4 ms-c color-ct-c1">Bienvenido a&nbsp<span class="color-ct-c11">DeportStart</span>, Sigue y administra tus torneos</h4>
          <p class="cell ms-p-p4 ms-c color-ct-c1">Mira como funciona DeportStart:</p>
          <div class="cell small-12 medium-10 large-8">
            <div class="ms-card1">
              <div class="ms-card1__body">
                <iframe id="ms_card1__video" src="//www.youtube.com/embed/YE7VzlLtp-4?autoplay=0&amp;controls=0&amp;showinfo=0&amp;rel=0&amp;loop=1&amp;modestbranding=1&amp;wmode=transparent"
                  frameborder="0" allowfullscreen>
                </iframe>
              </div>
              <div class="ms-card1__footer">
                <a href="#" class="ms-card1__footer__bt color-bg-b11">Ir a DeportStart</a>
              </div>
            </div>
          </div>
        </div>
        <div class="grid-x grid-margin-x align-center">
          <p id="ms_card2" class="cell">carda 2 - para banner lleno de la pantalla:</p>
          <div class="ms-card2">
            <img src="/img/banner1.jpg" alt="name" class="ms-card2__img">
            <div class="ms-card2__content">
              <div class="ms-card2__header">
                <h1 class="ms-card2__header__h1 color-ct-white">Entretenimiento y pasión por el deporte</h1>
                <h2 class="ms-card2__header__h2 color-ct-white">Crea y administra tus equipos y competiciones deportivas</h2>
              </div>
              <div class="ms-card2__actions">
                <div class="grid-x grid-margin-x align-center">
                  <div class="cell small-5 medium-4 large-2">
                    <a href="#" class="ms-bt-b3 color-bg-b2 color-ct-white">Crear Torneo</a>
                  </div>
                  <div class="cell small-5 medium-4 large-2">
                    <a href="#" class="ms-bt-b3 color-bg-b18 color-ct-white">Ser Leyenda</a>
                  </div>
                </div>
              </div>
              <div class="ms-card2__footer">
                <div class="grid-x grid-margin-x align-center">
                  <div class="cell small-4">
                    <div class="ms-bt-bt2">
                      <button type="button" name="button" class="ms-bt-bt2__btn color-bg-b8 color-ct-white">
                        <i class="fab fa-facebook-f"></i>
                      </button>
                    </div>
                  </div>
                  <div class="cell small-4">
                    <div class="ms-bt-bt2">
                      <button type="button" name="button" class="ms-bt-bt2__btn color-bg-b3 color-ct-white">
                        <i class="fab fa-google-plus-g"></i>
                      </button>
                    </div>
                  </div>
                  <div class="cell small-4">
                    <div class="ms-bt-bt2">
                      <button type="button" name="button" class="ms-bt-bt2__btn color-bg-b2 color-ct-white">
                        <i class="fab fa-instagram"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- ============= FIN =============-->

      <!-- ============= INICIO DE HEADERS=============-->
      <div class="grid-x callout">
        <h3 id="headers" class="cell">HEADERS DEFINIDOS:</h3>
        <div class="cell grid-x">
          <h5 id="ms-header1" class="cell">header 1:</h5>
          <div class="ms-header1">
            <div class="ms-header1__left">
              <a href="#" class="ms-header1__logo color-ct-c11">
                <i class="far fa-futbol"></i>
                <span class="ms-header1__logo__a">DeportStart</span>
              </a>
              <div class="ms-header1__search">
                <i class="fas fa-search ms-header1__search__icon"></i>
                <input type="text" name="search" class="ms-header1__search__input color-bg-b7" placeholder="Buscar campeonato en DeportStart ...">
              </div>
            </div>
            <div class="ms-header1__right">
              <a href="#" class="ms-header1__link color-ct-c11">
                <i class="fas fa-futbol ms-header1__link__i"></i>
                <span>¿Qué es DS?</span>
              </a>
              <a href="#" class="ms-header1__link1 color-bg-b11 color-ct-white">
                <i class="fas fa-cart-plus ms-header1__link1__i"></i>
                <span>TIENDA</span>
              </a>
              <a href="#" class="ms-header1__link1 color-bg-b17 color-ct-white">
                <i class="fas fa-user ms-header1__link1__i"></i>
                <span>INGRESAR</span>
              </a>
            </div>
          </div>
        </div>
        <div class="cell grid-x">
          <h5 id="ms-header1" class="cell">header 1 - con distintos estilos:</h5>
          <div class="ms-header1 color-bg-b11">
            <div class="ms-header1__left">
              <a href="#" class="ms-header1__logo color-ct-white">
                <i class="far fa-futbol"></i>
                <span class="ms-header1__logo__a">DeportStart</span>
              </a>
              <div class="ms-header1__search">
                <i class="fas fa-search ms-header1__search__icon"></i>
                <input type="text" name="search" class="ms-header1__search__input" placeholder="Buscar campeonato en DeportStart ...">
              </div>
            </div>
            <div class="ms-header1__right">
              <a href="#" class="ms-header1__link color-ct-white">
                <i class="fas fa-futbol ms-header1__link__i"></i>
                <span>¿Qué es DS?</span>
              </a>
              <a href="#" class="ms-header1__link1 color-bg-b18 color-ct-white">
                <i class="fas fa-cart-plus ms-header1__link1__i"></i>
                <span>TIENDA</span>
              </a>
              <a href="#" class="ms-header1__link1 color-bg-b17 color-ct-white">
                <i class="fas fa-user ms-header1__link1__i"></i>
                <span>INGRESAR</span>
              </a>
            </div>
          </div>
        </div>
        <div class="cell grid-x">
          <h5 id="ms-header1" class="cell">header 1 - con resultados de busqueda:</h5>
          <div class="ms-header1 color-bg-b11">
            <div class="ms-header1__left">
              <a href="#" class="ms-header1__logo color-ct-white">
                <i class="far fa-futbol"></i>
                <span class="ms-header1__logo__a">DeportStart</span>
              </a>
              <div class="ms-header1__search">
                <i class="fas fa-search ms-header1__search__icon"></i>
                <input type="text" name="search" class="ms-header1__search__input" placeholder="Buscar campeonato en DeportStart ...">
                <ul class="ms-header1__search__result">
                  <li class="ms-header1__search__result__li"><a href="#" class="ms-header1__search__result__li__a">Tonroe uno de Cusco</a></li>
                  <li class="ms-header1__search__result__li"><a href="#" class="ms-header1__search__result__li__a">Tonroe uno de Arequipa</a></li>
                  <li class="ms-header1__search__result__li"><a href="#" class="ms-header1__search__result__li__a">Tonroe uno de Quillabamba</a></li>
                  <li class="ms-header1__search__result__li"><a href="#" class="ms-header1__search__result__li__a">Tonroe uno de Puno</a></li>
                  <li class="ms-header1__search__result__li"><a href="#" class="ms-header1__search__result__li__a">Tonroe uno de Lima</a></li>
                </ul>
              </div>
            </div>
            <div class="ms-header1__right">
              <a href="#" class="ms-header1__link color-ct-white">
                <i class="fas fa-futbol ms-header1__link__i"></i>
                <span>¿Qué es DS?</span>
              </a>
              <a href="#" class="ms-header1__link1 color-bg-b18 color-ct-white">
                <i class="fas fa-cart-plus ms-header1__link1__i"></i>
                <span>TIENDA</span>
              </a>
              <a href="#" class="ms-header1__link1 color-bg-b17 color-ct-white">
                <i class="fas fa-user ms-header1__link1__i"></i>
                <span>INGRESAR</span>
              </a>
            </div>
          </div>
        </div>

        <!-- ============= espacioado de 1em;=============-->
        <div class="ms-m-b" style="height:250px;border:solid;"></div>
        <!-- ============= espacioado de 1em;=============-->
      </div>
      <!-- ============= FIN =============-->

      <!-- ============= INICIO DE FOOTERS =============-->
      <div class="grid-x callout">
        <h3 id="footers" class="cell">FOOTERDS DEFINIDOS:</h3>
      </div>
      <!-- ============= FIN =============-->
    </div>
  </body>
</html>
