<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MS plantillas</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="/js/jquery.min.js"></script>
    <script src="/js/foundation.min.js"></script>
    <script src="/js/app.js"></script>
  </head>
  <body>
    <div class="grid-container">
      <div class="grid-x grid-padding-x">
        <div class="large-12 cell">
          <h1>Bienvenidos MS (mokup styles)</h1>
        </div>
      </div>

      <div class="grid-x grid-padding-x">
        <div class="large-12 cell">
          <div class="callout">
            <h3>Leyenda de componentes</h3>
            <p>Links a todos los componentes creados por equipo MS</p>
            <div class="grid-x grid-padding-x">
              <div class="large-2 medium-3 cell">
                <p><a href="#h">(H) titulos</a></p>
                <hr>
                <ul class="vertical menu">
                  <li><a href="#">none</a></li>
                  <li><a href="#">none</a></li>
                </ul>
              </div>
              <div class="large-2 medium-3 cell">
                <p><a href="#p">(P) parrafos</a></p>
                <hr>
                <ul class="vertical menu">
                  <li><a href="#">none</a></li>
                  <li><a href="#">none</a></li>
                </ul>
              </div>
              <div class="large-2 medium-3 cell">
                <p><a href="#a">(A) Links</a></p>
                <hr>
                <ul class="vertical menu">
                  <li><a href="#">none</a></li>
                  <li><a href="#">none</a></li>
                </ul>
              </div>
              <div class="large-2 medium-3 cell">
                <p><a href="#ul">(UL) listas</a></p>
                <hr>
                <ul class="vertical menu">
                  <li><a href="#">none</a></li>
                  <li><a href="#">none</a></li>
                </ul>
              </div>
              <div class="large-2 medium-3 cell">
                <p><a href="#color-text">(Color-text) Colores para textos</a></p>
                <hr>
                <ul class="vertical menu">
                  <li><a href="#">none</a></li>
                  <li><a href="#">none</a></li>
                </ul>
              </div>
              <div class="large-2 medium-3 cell">
                <p><a href="#color-bg">(Color-bg) colores para fondos</a></p>
                <hr>
                <ul class="vertical menu">
                  <li><a href="#">none</a></li>
                  <li><a href="#">none</a></li>
                </ul>
              </div>
              <div class="large-2 medium-3 cell">
                <p><a href="#buttons">(Buttons) botenes</a></p>
                <hr>
                <ul class="vertical menu">
                  <li><a href="#">none</a></li>
                  <li><a href="#">none</a></li>
                </ul>
              </div>
              <div class="large-2 medium-3 cell">
                <p><a href="#inputs">(Input) cajas de texto</a></p>
                <hr>
                <ul class="vertical menu">
                  <li><a href="#">none</a></li>
                  <li><a href="#">none</a></li>
                </ul>
              </div>
              <div class="large-2 medium-3 cell">
                <p><a href="#forms">(Forms) formularios definidos</a></p>
                <hr>
                <ul class="vertical menu">
                  <li><a href="#">none</a></li>
                  <li><a href="#">none</a></li>
                </ul>
              </div>
              <div class="large-2 medium-3 cell">
                <p><a href="#cards">(Cards) cards definidos</a></p>
                <hr>
                <ul class="vertical menu">
                  <li><a href="#">none</a></li>
                  <li><a href="#">none</a></li>
                </ul>
              </div>
              <div class="large-2 medium-3 cell">
                <p><a href="#headers">(Header) bloques de cabecera definidos</a></p>
                <hr>
                <ul class="vertical menu">
                  <li><a href="#">none</a></li>
                  <li><a href="#">none</a></li>
                </ul>
              </div>
              <div class="large-2 medium-3 cell">
                <p><a href="#footers">(Footer) Pie de paginas definidos</a></p>
                <hr>
                <ul class="vertical menu">
                  <li><a href="#">none</a></li>
                  <li><a href="#">none</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- ============= INICIO DE BLOQUE DE TITULOS =============-->
      <div class="grid-x callout">
        <h3 id="h" class="cell">Titulos:</h3>
      </div>
      <!-- ============= FIN =============-->

      <!-- ============= INICIO DE BLOQUE DE PARRAFOS =============-->
      <div class="grid-x callout">
        <h3 id="p" class="cell">PARRAFOS:</h3>
      </div>
      <!-- ============= FIN =============-->

      <!-- ============= INICIO DE BLOQUE DE LINKS =============-->
      <div class="grid-x callout">
        <h3 id="a" class="cell">LINKS:</h3>
      </div>
      <!-- ============= FIN =============-->

      <!-- ============= INICIO DE BLOQUE LISTAS =============-->
      <div class="grid-x callout">
        <h3 id="ul" class="cell">LISTAS:</h3>
      </div>
      <!-- ============= FIN =============-->

      <!-- ============= INICIO DE BLOQUE COLORES PARA TEXTOS =============-->
      <div class="grid-x callout">
        <h3 id="color-text" class="cell">COLORES PARA TEXTOS:</h3>
      </div>
      <!-- ============= FIN =============-->

      <!-- ============= INICIO DE BLOQUE COLORES PARA FONDOS =============-->
      <div class="grid-x callout">
        <h3 id="color-bg" class="cell">COLORES PARA FONDOS:</h3>
      </div>
      <!-- ============= FIN =============-->

      <!-- ============= INICIO DE BLOQUE COLORES PARA BOTTONS =============-->
      <div class="grid-x callout">
        <h3 id="buttons" class="cell">BOTONES:</h3>
      </div>
      <!-- ============= FIN =============-->

      <!-- ============= INICIO DE BLOQUE COLORES PARA CAJAS DE TEXTO =============-->
      <div class="grid-x callout">
        <h3 id="inputs" class="cell">CAJAS DE TEXTO:</h3>
      </div>
      <!-- ============= FIN =============-->

      <!-- ============= INICIO DE BLOQUE FORMULARIOS =============-->
      <div class="grid-x callout">
        <h3 id="forms" class="cell">FORMULARIOS DEFINIDOS:</h3>
      </div>
      <!-- ============= FIN =============-->

      <!-- ============= INICIO DE CARDS =============-->
      <div class="grid-x callout">
        <h3 id="cards" class="cell">CARDS DEFINIDOS:</h3>
      </div>
      <!-- ============= FIN =============-->

      <!-- ============= INICIO DE HEADERS=============-->
      <div class="grid-x callout">
        <h3 id="headers" class="cell">HEADERS DEFINIDOS:</h3>
      </div>
      <!-- ============= FIN =============-->

      <!-- ============= INICIO DE FOOTERS =============-->
      <div class="grid-x callout">
        <h3 id="footers" class="cell">FOOTERDS DEFINIDOS:</h3>
      </div>
      <!-- ============= FIN =============-->
    </div>
  </body>
</html>
