<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MS plantillas</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="/js/jquery.min.js"></script>
    <script src="/js/foundation.min.js"></script>
    <script src="/js/app.js"></script>
    <script src="/js/scrips.js"></script>
    <script src="/js/fontawesome-all.min.js"></script>
</head>

<body>
    <div class="grid-container">
        <div class="grid-x grid-padding-x">
            <div class="large-12 cell">
                <h1>Bienvenidos MS (mokup styles 2)</h1>
            </div>
        </div>
        <div class="grid-x grid-padding-x">
            <h3 class="cell">Leyenda de componentes</h3>
            <div class="large-2 medium-3 cell">
                <div class="card">
                    <div class="card-divider">
                        <a href="#h">Titulos</a>
                    </div>
                    <div class="card-section">
                        <ul class="vertical menu">
                            <li>
                                <a href="#">NONE</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="large-2 medium-3 cell">
                <div class="card">
                    <div class="card-divider">
                        <a href="#p">Parrafos</a>
                    </div>
                    <div class="card-section">
                        <ul class="vertical menu">
                            <li>
                                <a href="#">NONE</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="large-2 medium-3 cell">
                <div class="card">
                    <div class="card-divider">
                        <a href="#a">Links</a>
                    </div>
                    <div class="card-section">
                        <ul class="vertical menu">
                            <li>
                                <a href="#ms2-a-a1">link button</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="large-2 medium-3 cell">
                <div class="card">
                    <div class="card-divider">
                        <a href="#ul">Listas o Menu</a>
                    </div>
                    <div class="card-section">
                        <ul class="vertical menu">
                            <li>
                                <a href="#">NONE</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="large-2 medium-3 cell">
                <div class="card">
                    <div class="card-divider">
                        <a href="#color-text">Colores</a>
                    </div>
                    <div class="card-section">
                        <ul class="vertical menu">
                            <li>
                                <a href="#">NONE</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="large-2 medium-3 cell">
                <div class="card">
                    <div class="card-divider">
                        <a href="#color-bg">Colores Fondo</a>
                    </div>
                    <div class="card-section">
                        <ul class="vertical menu">
                            <li>
                                <a href="#">NONE</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="large-2 medium-3 cell">
                <div class="card">
                    <div class="card-divider">
                        <a href="#buttons">Botones</a>
                    </div>
                    <div class="card-section">
                        <ul class="vertical menu">
                            <li>
                                <a href="#">NONE</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="large-2 medium-3 cell">
                <div class="card">
                    <div class="card-divider">
                        <a href="#inputs">Cajas de texto</a>
                    </div>
                    <div class="card-section">
                        <ul class="vertical menu">
                            <li>
                                <a href="#">NONE</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="large-2 medium-3 cell">
                <div class="card">
                    <div class="card-divider">
                        <a href="#forms">Formularios Definidos</a>
                    </div>
                    <div class="card-section">
                        <ul class="vertical menu">
                            <li>
                                <a href="#">NONE</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="large-2 medium-3 cell">
                <div class="card">
                    <div class="card-divider">
                        <a href="#cards">Cards DEFINIDOS</a>
                    </div>
                    <div class="card-section">
                        <ul class="vertical menu">
                            <li>
                                <a href="#">NONE</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="large-2 medium-3 cell">
                <div class="card">
                    <div class="card-divider">
                        <a href="#tablas">TABLAS DEFINIDOS</a>
                    </div>
                    <div class="card-section">
                        <ul class="vertical menu">
                            <li>
                                <a href="#">NONE</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="large-2 medium-3 cell">
                <div class="card">
                    <div class="card-divider">
                        <a href="#headers">HEADERS DEFINIDOS</a>
                    </div>
                    <div class="card-section">
                        <ul class="vertical menu">
                            <li>
                                <a href="#">NONE</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="large-2 medium-3 cell">
                <div class="card">
                    <div class="card-divider">
                        <a href="#footers">FOOTERS DEFINIDOS</a>
                    </div>
                    <div class="card-section">
                        <ul class="vertical menu">
                            <li>
                                <a href="#">NONE</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- ============= INICIO DE BLOQUE DE TITULOS =============-->
        <div class="grid-x callout">
            <h3 id="h" class="cell">Titulos:</h3>

        </div>
        <!-- ============= FIN =============-->

        <!-- ============= INICIO DE BLOQUE DE PARRAFOS =============-->
        <div class="grid-x callout">
            <h3 id="p" class="cell">PARRAFOS:</h3>

        </div>
        <!-- ============= FIN =============-->

        <!-- ============= INICIO DE BLOQUE DE LINKS =============-->
        <div class="grid-x callout">
            <h3 id="a" class="cell" style="margin-bottom:1em;">LINKS:</h3>
            <div class="cell grid-x grid-margin-x">
                <h6 id="ms2-a-a1" class="cell">link en forma de botton</h6>
                <div class="cell small-12 medium-3 large-1">
                    <a href="#" class="ms2-a-a1 color-bg-b4 color-ct-c12">Leer más</a>
                </div>
                <div class="cell small-12 medium-3 large-2">
                    <a href="#" class="ms2-a-a1 color-bg-b4 color-ct-c12">Leer más</a>
                </div>
            </div>
        </div>
        <!-- ============= FIN =============-->

        <!-- ============= INICIO DE BLOQUE LISTAS =============-->
        <div class="grid-x callout">
            <h3 id="ul" class="cell">LISTAS O MENU:</h3>
            <div class="cell grid-x">
                <h5 class="cell">Lista horizontal para caja texto</h5>
                <div class="cell">
                    <ul class="ms2-ul1">
                        <li class="ms2-ul1__li">
                            <a href="#" class="ms2-ul1__li__a color-bg-b2 color-ct-white ">
                                Nike
                            </a>
                        </li>
                        <li class="ms2-ul1__li">
                            <a href="#" class="ms2-ul1__li__a color-bg-b4 color-ct-white ">
                                Walon
                            </a>
                        </li>
                        <li class="ms2-ul1__li">
                            <a href="#" class="ms2-ul1__li__a color-bg-b6 color-ct-white ">
                                Payinti
                            </a>
                        </li>
                    </ul>
                </div>
                <h5 class="cell">Lista horizontal slider</h5>
                <div class="cell show-s">
                    <div class="orbit ms2-ul2" role="region" data-orbit data-timer-delay="80000" data-options="animInFromLeft:fade-in; animInFromRight:fade-in; animOutToLeft:fade-out; animOutToRight:fade-out;">
                        <button class="orbit-previous ms2-ul2__l color-ct-c19 color-bg-b20">
                            <i class="fas fa-angle-left"></i>
                        </button>
                        <button class="orbit-next ms2-ul2__r color-ct-c19 color-bg-b20">
                            <i class="fas fa-angle-right"></i>
                        </button>
                        <ul class="orbit-container">
                            <li class="orbit-slide">
                                <ul class="ms2-ul1">
                                    <li class="ms2-ul1__li">
                                        <a href="#" class="ms2-ul1__li__a color-bg-b2 color-ct-white ">
                                            Nike
                                        </a>
                                    </li>
                                    <li class="ms2-ul1__li">
                                        <a href="#" class="ms2-ul1__li__a color-bg-b4 color-ct-white ">
                                            Walon
                                        </a>
                                    </li>
                                    <li class="ms2-ul1__li">
                                        <a href="#" class="ms2-ul1__li__a color-bg-b6 color-ct-white ">
                                            Payinti
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="orbit-slide">
                                <ul class="ms2-ul1">
                                    <li class="ms2-ul1__li">
                                        <a href="#" class="ms2-ul1__li__a color-bg-b6 color-ct-white ">
                                            Reebook
                                        </a>
                                    </li>
                                    <li class="ms2-ul1__li">
                                        <a href="#" class="ms2-ul1__li__a color-bg-b8 color-ct-white ">
                                            Futsal
                                        </a>
                                    </li>
                                    <li class="ms2-ul1__li">
                                        <a href="#" class="ms2-ul1__li__a color-bg-b6 color-ct-white ">
                                            Payinti
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="cell show-m">
                    <div class="orbit ms2-ul2" role="region" data-orbit data-timer-delay="80000" data-options="animInFromLeft:fade-in; animInFromRight:fade-in; animOutToLeft:fade-out; animOutToRight:fade-out;">
                        <button class="orbit-previous ms2-ul2__l color-ct-c19 color-bg-b20">
                            <i class="fas fa-angle-left"></i>
                        </button>
                        <button class="orbit-next ms2-ul2__r color-ct-c19 color-bg-b20">
                            <i class="fas fa-angle-right"></i>
                        </button>
                        <ul class="orbit-container">
                            <li class="orbit-slide">
                                <ul class="ms2-ul1">
                                    <li class="ms2-ul1__li">
                                        <a href="#" class="ms2-ul1__li__a color-bg-b2 color-ct-white ">
                                            Nike
                                        </a>
                                    </li>
                                    <li class="ms2-ul1__li">
                                        <a href="#" class="ms2-ul1__li__a color-bg-b4 color-ct-white ">
                                            Walon
                                        </a>
                                    </li>
                                    <li class="ms2-ul1__li">
                                        <a href="#" class="ms2-ul1__li__a color-bg-b6 color-ct-white ">
                                            Payinti
                                        </a>
                                    </li>
                                    <li class="ms2-ul1__li">
                                        <a href="#" class="ms2-ul1__li__a color-bg-b2 color-ct-white ">
                                            Nike
                                        </a>
                                    </li>
                                    <li class="ms2-ul1__li">
                                        <a href="#" class="ms2-ul1__li__a color-bg-b4 color-ct-white ">
                                            Walon
                                        </a>
                                    </li>
                                    <li class="ms2-ul1__li">
                                        <a href="#" class="ms2-ul1__li__a color-bg-b6 color-ct-white ">
                                            Payinti
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="orbit-slide">
                                <ul class="ms2-ul1">
                                    <li class="ms2-ul1__li">
                                        <a href="#" class="ms2-ul1__li__a color-bg-b6 color-ct-white ">
                                            Reebook
                                        </a>
                                    </li>
                                    <li class="ms2-ul1__li">
                                        <a href="#" class="ms2-ul1__li__a color-bg-b8 color-ct-white ">
                                            Futsal
                                        </a>
                                    </li>
                                    <li class="ms2-ul1__li">
                                        <a href="#" class="ms2-ul1__li__a color-bg-b6 color-ct-white ">
                                            Payinti
                                        </a>
                                    </li>
                                    <li class="ms2-ul1__li">
                                        <a href="#" class="ms2-ul1__li__a color-bg-b2 color-ct-white ">
                                            Nike
                                        </a>
                                    </li>
                                    <li class="ms2-ul1__li">
                                        <a href="#" class="ms2-ul1__li__a color-bg-b4 color-ct-white ">
                                            Walon
                                        </a>
                                    </li>
                                    <li class="ms2-ul1__li">
                                        <a href="#" class="ms2-ul1__li__a color-bg-b6 color-ct-white ">
                                            Payinti
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="cell show-l">
                    <div class="orbit ms2-ul2" role="region" data-orbit data-timer-delay="80000" data-options="animInFromLeft:fade-in; animInFromRight:fade-in; animOutToLeft:fade-out; animOutToRight:fade-out;">
                        <button class="orbit-previous ms2-ul2__l color-ct-c19 color-bg-b20">
                            <i class="fas fa-angle-left"></i>
                        </button>
                        <button class="orbit-next ms2-ul2__r color-ct-c19 color-bg-b20">
                            <i class="fas fa-angle-right"></i>
                        </button>
                        <ul class="orbit-container">
                            <li class="orbit-slide">
                                <ul class="ms2-ul1">
                                    <li class="ms2-ul1__li">
                                        <a href="#" class="ms2-ul1__li__a color-bg-b2 color-ct-white ">
                                            Nike
                                        </a>
                                    </li>
                                    <li class="ms2-ul1__li">
                                        <a href="#" class="ms2-ul1__li__a color-bg-b4 color-ct-white ">
                                            Walon
                                        </a>
                                    </li>
                                    <li class="ms2-ul1__li">
                                        <a href="#" class="ms2-ul1__li__a color-bg-b6 color-ct-white ">
                                            Payinti
                                        </a>
                                    </li>
                                    <li class="ms2-ul1__li">
                                        <a href="#" class="ms2-ul1__li__a color-bg-b2 color-ct-white ">
                                            Nike
                                        </a>
                                    </li>
                                    <li class="ms2-ul1__li">
                                        <a href="#" class="ms2-ul1__li__a color-bg-b4 color-ct-white ">
                                            Walon
                                        </a>
                                    </li>
                                    <li class="ms2-ul1__li">
                                        <a href="#" class="ms2-ul1__li__a color-bg-b6 color-ct-white ">
                                            Payinti
                                        </a>
                                    </li>
                                    <li class="ms2-ul1__li">
                                        <a href="#" class="ms2-ul1__li__a color-bg-b2 color-ct-white ">
                                            Nike
                                        </a>
                                    </li>
                                    <li class="ms2-ul1__li">
                                        <a href="#" class="ms2-ul1__li__a color-bg-b4 color-ct-white ">
                                            Walon
                                        </a>
                                    </li>
                                    <li class="ms2-ul1__li">
                                        <a href="#" class="ms2-ul1__li__a color-bg-b6 color-ct-white ">
                                            Payinti
                                        </a>
                                    </li>
                                    <li class="ms2-ul1__li">
                                        <a href="#" class="ms2-ul1__li__a color-bg-b2 color-ct-white ">
                                            Nike
                                        </a>
                                    </li>
                                    <li class="ms2-ul1__li">
                                        <a href="#" class="ms2-ul1__li__a color-bg-b4 color-ct-white ">
                                            Walon
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="orbit-slide">
                                <ul class="ms2-ul1">
                                    <li class="ms2-ul1__li">
                                        <a href="#" class="ms2-ul1__li__a color-bg-b6 color-ct-white ">
                                            las ojotitas
                                        </a>
                                    </li>
                                    <li class="ms2-ul1__li">
                                        <a href="#" class="ms2-ul1__li__a color-bg-b8 color-ct-white ">
                                            Futsal
                                        </a>
                                    </li>
                                    <li class="ms2-ul1__li">
                                        <a href="#" class="ms2-ul1__li__a color-bg-b6 color-ct-white ">
                                            Payinti
                                        </a>
                                    </li>
                                    <li class="ms2-ul1__li">
                                        <a href="#" class="ms2-ul1__li__a color-bg-b2 color-ct-white ">
                                            Nike
                                        </a>
                                    </li>
                                    <li class="ms2-ul1__li">
                                        <a href="#" class="ms2-ul1__li__a color-bg-b4 color-ct-white ">
                                            Walon
                                        </a>
                                    </li>
                                    <li class="ms2-ul1__li">
                                        <a href="#" class="ms2-ul1__li__a color-bg-b6 color-ct-white ">
                                            Payinti
                                        </a>
                                    </li>
                                    <li class="ms2-ul1__li">
                                        <a href="#" class="ms2-ul1__li__a color-bg-b6 color-ct-white ">
                                            Reebook
                                        </a>
                                    </li>
                                    <li class="ms2-ul1__li">
                                        <a href="#" class="ms2-ul1__li__a color-bg-b8 color-ct-white ">
                                            Futsal
                                        </a>
                                    </li>
                                    <li class="ms2-ul1__li">
                                        <a href="#" class="ms2-ul1__li__a color-bg-b6 color-ct-white ">
                                            Payinti
                                        </a>
                                    </li>
                                    <li class="ms2-ul1__li">
                                        <a href="#" class="ms2-ul1__li__a color-bg-b2 color-ct-white ">
                                            Nike
                                        </a>
                                    </li>
                                    <li class="ms2-ul1__li">
                                        <a href="#" class="ms2-ul1__li__a color-bg-b4 color-ct-white ">
                                            Walon
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- ============= FIN =============-->

        <!-- ============= INICIO DE BLOQUE COLORES PARA TEXTOS =============-->
        <div class="grid-x callout">
            <h3 id="color-text" class="cell">COLORES PARA TEXTOS:</h3>

        </div>
        <!-- ============= FIN =============-->

        <!-- ============= INICIO DE BLOQUE COLORES PARA FONDOS =============-->
        <div class="grid-x grid-margin-x callout">
            <h3 id="color-bg" class="cell">COLORES PARA FONDOS:</h3>
        </div>
        <!-- ============= FIN =============-->

        <!-- ============= INICIO DE BLOQUE PARA BOTTONS =============-->
        <div class="grid-x callout">
            <h3 id="buttons" class="cell">BOTONES:</h3>
            <div class="cell small-10-medium-3 large-2">
                <div class="ms2-bt1">
                    <button class="ms2-bt1__icon color-bg-b6 colo-ct-c15">
                        <i class="fas fa-shopping-cart"></i>
                    </button>
                    <button class="ms2-bt1__button color-bg-b11 color-ct-white">Comprar</button>
                </div>
            </div>
        </div>
        <!-- ============= FIN =============-->

        <!-- ============= INICIO DE BLOQUE PARA CAJAS DE TEXTO =============-->
        <div class="grid-x callout">
            <h3 id="inputs" class="cell">CAJAS DE TEXTO:</h3>
        </div>
        <!-- ============= FIN =============-->

        <!-- ============= INICIO DE BLOQUE FORMULARIOS =============-->
        <div class="grid-x callout">
            <h3 id="forms" class="cell">FORMULARIOS DEFINIDOS:</h3>
        </div>
        <!-- ============= FIN =============-->

        <!-- ============= INICIO DE CARDS =============-->
        <div class="grid-x callout">
            <h3 id="cards" class="cell">CARDS DEFINIDOS:</h3>
            <div class="grid-x grid-margin-x align-center">
                <h5 class="cell">card para de texto promo e imagen miniatura</h5>
                <div class="cell small-12 medium-4 large-3">
                    <div class="ms2-card1 color-bg-b11 color-ct-white">
                        <div class="ms2-card1__head">
                            <p class="ms2-card1__head__title">Cotizar varios productos</p>
                            <i class="fas fa-cogs ms2-card1__head__icon"></i>
                        </div>
                        <div class="ms2-card1__body">
                            <p class="ms2-card1__body__text">Arma conjuntos de camisetas, truzas, polos, medias con marcas y confeccionistas de Cusco.</p>
                            <div class="ms2-card1__body__items">
                                <img src="/img/m1.jpeg" alt="name" class="ms2-card1__body__items__img">
                                <img src="/img/m2.png" alt="name" class="ms2-card1__body__items__img">
                                <img src="/img/m6.png" alt="name" class="ms2-card1__body__items__img">
                                <img src="/img/m7.jpg" alt="name" class="ms2-card1__body__items__img">
                            </div>
                        </div>
                        <div class="ms2-card1__footer">
                            <a href="#" class="ms-bt-b3 color-bg-b12 color-ct-c15">Ir a cotizacion</a>
                        </div>
                    </div>
                </div>
                <div class="cell small-12 medium-4 large-2">
                    <div class="ms2-card1 color-bg-b10 color-ct-white">
                        <div class="ms2-card1__head">
                            <p class="ms2-card1__head__title">Cotizar varios productos</p>
                            <i class="fas fa-cogs ms2-card1__head__icon"></i>
                        </div>
                        <div class="ms2-card1__body">
                            <p class="ms2-card1__body__text">Arma conjuntos de camisetas, truzas, polos, medias con marcas y confeccionistas de Cusco.</p>
                            <div class="ms2-card1__body__items">
                                <img src="/img/m1.jpeg" alt="name" class="ms2-card1__body__items__img">
                                <img src="/img/m2.png" alt="name" class="ms2-card1__body__items__img">
                                <img src="/img/m6.png" alt="name" class="ms2-card1__body__items__img">
                                <img src="/img/m7.jpg" alt="name" class="ms2-card1__body__items__img">
                            </div>
                        </div>
                        <div class="ms2-card1__footer">
                            <a href="#" class="ms-bt-b3 color-bg-b12 color-ct-c15">Cotizar</a>
                        </div>
                    </div>
                </div>
                <div class="cell small-12 medium-4 large-3">
                    <div class="ms2-card1 color-bg-b17 color-ct-white">
                        <div class="ms2-card1__head">
                            <p class="ms2-card1__head__title">Cotizar varios productos</p>
                            <i class="fas fa-cogs ms2-card1__head__icon"></i>
                        </div>
                        <div class="ms2-card1__body">
                            <p class="ms2-card1__body__text">Arma conjuntos de camisetas, truzas, polos, medias con marcas y confeccionistas de Cusco.</p>
                            <div class="ms2-card1__body__items">
                                <img src="/img/m1.jpeg" alt="name" class="ms2-card1__body__items__img">
                                <img src="/img/m2.png" alt="name" class="ms2-card1__body__items__img">
                                <img src="/img/m6.png" alt="name" class="ms2-card1__body__items__img">
                                <img src="/img/m7.jpg" alt="name" class="ms2-card1__body__items__img">
                            </div>
                        </div>
                        <div class="ms2-card1__footer">
                            <a href="#" class="ms-bt-b3 color-bg-b12 color-ct-c15">Cotizar</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid-x grid-margin-x align-center">
                <h4 class="cell">card para productos o vitrina</h4>
                <div class="cell small-6 medium-4 large-3">
                    <div class="ms2-card2">
                        <div class="ms2-card2__head" style="height:150px;">
                            <img src="/img/r1.jpg" alt="name" class="ms2-card2__head__img">
                            <span class="ms2-card2__head__tag color-bg-b18 color-ct-white">70%</span>
                        </div>
                        <div class="ms2-card2__body">
                            <a href="#" class="ms2-card2__body__title color-ct-c15">Camiseta nacional de peru oficial para rusia</a>
                            <a href="#" class="ms2-card2__body__text color-ct-c19">marca de producto</a>
                        </div>
                        <div class="ms2-card2__footer">
                            <p class="ms2-card2__footer__1 color-ct-c14">S/. 100.50</p>
                            <p class="ms2-card2__footer__2 color-ct-c19">S/. 130.50</p>
                        </div>
                    </div>
                </div>
                <div class="cell small-6 medium-4 large-3">
                    <div class="ms2-card2">
                        <div class="ms2-card2__head" style="height:150px;">
                            <img src="/img/r3.jpg" alt="name" class="ms2-card2__head__img">
                            <span class="ms2-card2__head__tag color-bg-b18 color-ct-white">60%</span>
                        </div>
                        <div class="ms2-card2__body">
                            <a href="#" class="ms2-card2__body__title color-ct-c15">Short Truza de licra a 20 soles por mas ..</a>
                            <a href="#" class="ms2-card2__body__text color-ct-c19">Reebook</a>
                        </div>
                        <div class="ms2-card2__footer">
                            <p class="ms2-card2__footer__1 color-ct-c14">S/. 25.50</p>
                            <p class="ms2-card2__footer__2 color-ct-c19">S/. 40.30</p>
                        </div>
                    </div>
                </div>
                <div class="cell small-6 medium-4 large-3">
                    <div class="ms2-card2">
                        <div class="ms2-card2__head" style="height:150px;">
                            <img src="/img/r3.jpg" alt="name" class="ms2-card2__head__img">
                            <span class="ms2-card2__head__tag color-bg-b10 color-ct-white">new</span>
                        </div>
                        <div class="ms2-card2__body">
                            <a href="#" class="ms2-card2__body__title color-ct-c15">Short Truza de licra a 20 soles por mas ..</a>
                            <a href="#" class="ms2-card2__body__text color-ct-c19">Reebook</a>
                        </div>
                        <div class="ms2-card2__footer">
                            <p class="ms2-card2__footer__1 color-ct-c14">S/. 25.50</p>
                            <p class="ms2-card2__footer__2 color-ct-c19">S/. 40.30</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid-x grid-margin-x align-center">
                <h5 class="cell">card para contador de dias</h5>
                <div class="cell small-8 medium-4 large-3" style="margin-top:1em;">
                    <div class="ms2-nav1">
                        <h4 class="ms2-nav1__title color-ct-c15">Liquidacion</h4>
                        <div class="ms2-nav1__items">
                            <button class="ms2-nav1__items__btn color-bg-b5 color-ct-white">
                                <i class="fas fa-angle-left ms2-nav1__items__btn__i"></i>
                            </button>
                            <button class="ms2-nav1__items__btn color-bg-b5 color-ct-white">
                                <i class="fas fa-angle-right ms2-nav1__items__btn__i"></i>
                            </button>
                        </div>
                    </div>
                    <div class="ms2-card3">
                        <div class="ms2-card3__head">
                            <img src="/img/r7.jpg" alt="name" class="ms2-card3__head__img">
                            <span class="ms2-card3__head__tag color-bg-b14 color-ct-white">49%</span>
                            <div class="ms2-card3__head__date">
                                <p class="ms2-card3__head__date__item color-bg-b12 color-ct-c15">120 dias</p>
                                <p class="ms2-card3__head__date__item color-bg-b12 color-ct-c15">20 hora</p>
                                <p class="ms2-card3__head__date__item color-bg-b12 color-ct-c15">36 minu</p>
                                <p class="ms2-card3__head__date__item color-bg-b12 color-ct-c15">60 segu</p>
                            </div>
                        </div>
                        <div class="ms2-card3__body">
                            <a href="#" class="ms2-card3__body__title color-ct-c15">Caiseta oficial de la selccion para rusia...</a>
                            <a href="#" class="ms2-card3__body__text color-ct-c19">Nike</a>
                        </div>
                        <div class="ms2-card3__footer">
                            <div class="ms2-card3__footer__values">
                                <p class="ms2-card3__footer__values__1 color-ct-c14">S/. 50</p>
                                <p class="ms2-card3__footer__values__2 color-ct-c19">S/. 100</p>
                            </div>
                            <div class="ms2-bt1">
                                <button class="ms2-bt1__icon color-bg-b6 colo-ct-c15">
                                    <i class="fas fa-shopping-cart"></i>
                                </button>
                                <button class="ms2-bt1__button color-bg-b11 color-ct-white">Comprar</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cell small-8 medium-4 large-3" style="margin-top:1em;">
                    <div class="orbit" role="region" data-orbit data-timer-delay="8000" data-options="animInFromLeft:fade-in; animInFromRight:fade-in; animOutToLeft:fade-out; animOutToRight:fade-out;">
                        <div class="ms2-nav1">
                            <h4 class="ms2-nav1__title color-ct-c15">Liquidacion</h4>
                            <div class="ms2-nav1__items">
                                <button class="orbit-previous ms2-nav1__items__btn color-bg-b5 color-ct-white">
                                    <i class="fas fa-angle-left ms2-nav1__items__btn__i"></i>
                                </button>
                                <button class="orbit-next ms2-nav1__items__btn color-bg-b5 color-ct-white">
                                    <i class="fas fa-angle-right ms2-nav1__items__btn__i"></i>
                                </button>
                            </div>
                        </div>
                        <ul class="orbit-container">
                            <li class="orbit-slide">
                                <div class="ms2-card3">
                                    <div class="ms2-card3__head">
                                        <img src="/img/r7.jpg" alt="name" class="ms2-card3__head__img">
                                        <span class="ms2-card3__head__tag color-bg-b14 color-ct-white">49%</span>
                                        <div class="ms2-card3__head__date">
                                            <p class="ms2-card3__head__date__item color-bg-b12 color-ct-c15">120 dias</p>
                                            <p class="ms2-card3__head__date__item color-bg-b12 color-ct-c15">20 hora</p>
                                            <p class="ms2-card3__head__date__item color-bg-b12 color-ct-c15">36 minu</p>
                                            <p class="ms2-card3__head__date__item color-bg-b12 color-ct-c15">60 segu</p>
                                        </div>
                                    </div>
                                    <div class="ms2-card3__body">
                                        <a href="#" class="ms2-card3__body__title color-ct-c15">Caiseta oficial de la selccion para rusia...</a>
                                        <a href="#" class="ms2-card3__body__text color-ct-c19">Nike</a>
                                    </div>
                                    <div class="ms2-card3__footer">
                                        <div class="ms2-card3__footer__values">
                                            <p class="ms2-card3__footer__values__1 color-ct-c14">S/. 50</p>
                                            <p class="ms2-card3__footer__values__2 color-ct-c19">S/. 100</p>
                                        </div>
                                        <div class="ms2-bt1">
                                            <button class="ms2-bt1__icon color-bg-b6 colo-ct-c15">
                                                <i class="fas fa-shopping-cart"></i>
                                            </button>
                                            <button class="ms2-bt1__button color-bg-b11 color-ct-white">Comprar</button>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="orbit-slide">
                                <div class="ms2-card3">
                                    <div class="ms2-card3__head">
                                        <img src="/img/r5.jpg" alt="name" class="ms2-card3__head__img">
                                        <span class="ms2-card3__head__tag color-bg-b14 color-ct-white">49%</span>
                                        <div class="ms2-card3__head__date">
                                            <p class="ms2-card3__head__date__item color-bg-b12 color-ct-c15">120 dias</p>
                                            <p class="ms2-card3__head__date__item color-bg-b12 color-ct-c15">20 hora</p>
                                            <p class="ms2-card3__head__date__item color-bg-b12 color-ct-c15">36 minu</p>
                                            <p class="ms2-card3__head__date__item color-bg-b12 color-ct-c15">60 segu</p>
                                        </div>
                                    </div>
                                    <div class="ms2-card3__body">
                                        <a href="#" class="ms2-card3__body__title color-ct-c15">Conunto gorra camiseta y media...</a>
                                        <a href="#" class="ms2-card3__body__text color-ct-c19">Nike</a>
                                    </div>
                                    <div class="ms2-card3__footer">
                                        <div class="ms2-card3__footer__values">
                                            <p class="ms2-card3__footer__values__1 color-ct-c14">S/. 50</p>
                                            <p class="ms2-card3__footer__values__2 color-ct-c19">S/. 100</p>
                                        </div>
                                        <div class="ms2-bt1">
                                            <button class="ms2-bt1__icon color-bg-b6 colo-ct-c15">
                                                <i class="fas fa-shopping-cart"></i>
                                            </button>
                                            <button class="ms2-bt1__button color-bg-b11 color-ct-white">Comprar</button>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="grid-x grid-margin-x align-center">
                <h5 class="cell">Card para articulos</h5>
                <div class="cell small-6 medium-4 large-4">
                    <div class="ms2-card4">
                        <img src="/img/ar1.jpg" alt="name" class="ms2-card4__img">
                        <a href="#" class="ms2-card4__title color-ct-c4">Campeonato de futbol por dia de la madre en ondor</a>
                        <p class="ms2-card4__text color-ct-c15">
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis nat
                        </p>
                        <a href="#" class="ms2-card4__link color-bg-b11 color-ct-white">Ver más</a>
                    </div>
                </div>
                <div class="cell small-6 medium-4 large-4">
                    <div class="ms2-card4">
                        <img src="/img/ar1.jpg" alt="name" class="ms2-card4__img">
                        <a href="#" class="ms2-card4__title color-ct-c4">Campeonato de futbol por dia de la madre en ondor</a>
                        <p class="ms2-card4__text color-ct-c15">
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis nat
                        </p>
                        <a href="#" class="ms2-card4__link color-bg-b11 color-ct-white">Ver más</a>
                    </div>
                </div>
                <div class="cell small-6 medium-4 large-4">
                    <div class="ms2-card4">
                        <img src="/img/ar1.jpg" alt="name" class="ms2-card4__img">
                        <a href="#" class="ms2-card4__title color-ct-c4">Campeonato de futbol por dia de la madre en ondor</a>
                        <p class="ms2-card4__text color-ct-c15">
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis nat
                        </p>
                        <a href="#" class="ms2-card4__link color-bg-b11 color-ct-white">Ver más</a>
                    </div>
                </div>
            </div>
            <div class="grid-x grid-margin-x align-center">
                <h4 class="cell"> Card para banner</h4>
                <div class="cell">
                    <div class="ms2-card5">
                        <img src="/img/banner1.jpeg" alt="name" class="ms2-card5__img">
                        <a href="#" class="ms2-card5__link color-bg-b5 color-ct-white">Comprar</a>
                        <div class="ms2-card5__ctrls">
                            <button class="ms2-card5__ctrls__i color-bg-b5 color-ct-white">
                                <i class="fas fa-chevron-left"></i>
                            </button>
                            <button class="ms2-card5__ctrls__i color-bg-b5 color-ct-white">
                                <i class="fas fa-chevron-right"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <h4 class="cell"> Card para banner dinamico</h4>
                <div class="cell">
                    <div class="orbit" role="region" data-orbit data-timer-delay="7000" data-options="animInFromLeft:fade-in; animInFromRight:fade-in; animOutToLeft:fade-out; animOutToRight:fade-out;">
                        <ul class="orbit-container">
                            <li class="orbit-slide">
                                <div class="ms2-card5">
                                    <img src="/img/banner1.jpeg" alt="name" class="ms2-card5__img">
                                    <a href="#" class="ms2-card5__link color-bg-b5 color-ct-white">Comprar</a>
                                    <div class="ms2-card5__ctrls">
                                        <button class="orbit-previous ms2-card5__ctrls__i color-bg-b5 color-ct-white">
                                            <i class="fas fa-chevron-left"></i>
                                        </button>
                                        <button class="orbit-next ms2-card5__ctrls__i color-bg-b5 color-ct-white">
                                            <i class="fas fa-chevron-right"></i>
                                        </button>
                                    </div>
                                </div>
                            </li>
                            <li class="orbit-slide">
                                <div class="ms2-card5">
                                    <img src="/img/banner2.jpeg" alt="name" class="ms2-card5__img">
                                    <a href="#" class="ms2-card5__link color-bg-b5 color-ct-white">Comprar</a>
                                    <div class="ms2-card5__ctrls">
                                        <button class="orbit-previous ms2-card5__ctrls__i color-bg-b5 color-ct-white">
                                            <i class="fas fa-chevron-left"></i>
                                        </button>
                                        <button class="orbit-next ms2-card5__ctrls__i color-bg-b5 color-ct-white">
                                            <i class="fas fa-chevron-right"></i>
                                        </button>
                                    </div>
                                </div>
                            </li>
                            <li class="orbit-slide">
                                <div class="ms2-card5">
                                    <img src="/img/banner3.jpg" alt="name" class="ms2-card5__img">
                                    <a href="#" class="ms2-card5__link color-bg-b5 color-ct-white">Comprar</a>
                                    <div class="ms2-card5__ctrls">
                                        <button class="orbit-previous ms2-card5__ctrls__i color-bg-b5 color-ct-white">
                                            <i class="fas fa-chevron-left"></i>
                                        </button>
                                        <button class="orbit-next ms2-card5__ctrls__i color-bg-b5 color-ct-white">
                                            <i class="fas fa-chevron-right"></i>
                                        </button>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- ============= FIN =============-->

        <!-- ============= INICIO DE TABLAS =============-->
        <div class="grid-x callout">
            <h3 id="tablas" class="cell">Tablas</h3>
        </div>
        <!-- ============= FIN DE TABLAS =============-->

        <!-- ============= INICIO DE HEADERS=============-->
        <div class="grid-x callout">
            <h3 id="headers" class="cell">HEADERS DEFINIDOS:</h3>
        </div>
        <!-- ============= FIN =============-->

        <!-- ============= INICIO DE FOOTERS =============-->
        <div class="grid-x callout">
            <h3 id="footers" class="cell">FOOTERDS DEFINIDOS:</h3>
        </div>
        <!-- ============= FIN =============-->
    </div>
</body>
<script src="/js/jquery.min.js"></script>
<script src="/js/foundation.min.js"></script>
<script src="/js/app.js"></script>
<script src="/js/scrips.js"></script>
<script src="/js/fontawesome-all.min.js"></script>

</html>