.ms-card15 {
  box-shadow: 1px 1px 5px 0px rgba(189,189,189,1);
  text-align: center;
  font-family: $ms-ff-2;
  padding: 10px;
  &:hover {
    cursor: pointer;
  }
  &__tag {
    font-weight: bold;
    font-size: 12px;
    margin-bottom: 5px;
  }
  &__body {
    display: flex;
    justify-content: center;
    align-items: center;
    &__item {
      text-align: center;
      &__img {
        width: 60px;
        height: 60px;
        border-radius: 50%;
      }
      &__text {
        font-size: 12px;
        font-family: $ms-ff-3;
        margin-bottom: 5px;
      }
      &__text2 {
        font-size: 20px;
        font-family: $ms-ff-1;
        margin-bottom: 5px;
        font-weight: bold;
        margin-bottom: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        &__2 {
          font-size: 12px;
          font-family: $ms-ff-1;
          font-weight: normal;
          margin-bottom: 10px;
          text-decoration: underline;
        }
      }
    }
  }
}
