.ms-card3 {
  width: 100%;
  padding: 1em;
  margin-bottom: 1em;
  &__title {
    font-weight: bold;
    font-family: $ms-ff-1;
    text-align: left;
  }
  &__text {
    font-family: $ms-ff-2;
    font-size: 14px;
    text-align: justify;
    @include desde(1000px){
      font-size: 18px;
    };
  }
}
