.ms-card9 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  &__img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 1px solid;
    border-color: #b8c3bb;
    &:hover {
      cursor: pointer;
    }
  }
}
