.ms-card2 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 250px;
  margin-top: 60px;
  @include desde_hasta(640px,1000px){
    height: 320px;
  };
  @include desde(1000px){
    height: 450px;
  };
  &__img {
    width: 100%;
    height: 100%;
  }
}

.ms-card2__content {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1em;
}

.ms-card2__header {
  text-align: center;
  padding: 1em;
  &__h1 {
    font-family: $ms-ff-1;
    font-size: 20px;
    font-weight: bold;
    @include desde_hasta(640px,1000px){
      font-size: 30px;
    };
    @include desde(1000px){
      font-size: 3em;
    };
  }
  &__h2 {
    font-size: 12px;
    font-family: $ms-ff-2;
    @include desde_hasta(640px,1000px){
      font-size: 18px;
      margin-bottom: 2em;
    };
    @include desde(1000px){
      font-size: 1.5em;
      margin-bottom: 1em;
    };
  }
}

.ms-card2__actions {
  width: 100%;
}

.ms-card2__footer {
  display: none;
  @include desde(1000px){
    display: block;
    padding-top: 2em;
    margin-top: 1em;
  };
}
