.ms-h-h1 {
  text-align: center;
  font-weight: bold;
  font-family: $ms-ff-1;
  font-size: 2em;
}

.ms-h-h2 {
  text-align: center;
  font-weight: bold;
  font-family: $ms-ff-3;
  font-size: 1.5em;
}

.ms-h-h3 {
  text-align: center;
  font-family: $ms-ff-2;
  font-size: 1.3em;
  margin-bottom: 10px;
  padding-left: 5px;
  padding-right: 5px;
  @include desde(640px){
    font-size: 1.7em;
  };
}

.ms-h-h4 {
  font-family: $ms-ff-3;
  font-size: 1em;
  margin-bottom: 10px;
  @include desde(640px){
    font-size: 1.2em;
  };
}

.ms-h-h5 {
  display: block;
  font-family: $ms-ff-3;
  font-size: 1em;
  margin-bottom: 1em;
  @include desde(640px){
    font-size: 1.2em;
  };
}

.ms-h-h6 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  &__title {
    font-family: $ms-ff-2;
    font-size: 1em;
    margin-bottom: 1em;
    @include desde(640px){
      font-size: 1.2em;
    };
  }
  &__link {
    font-family: $ms-ff-2;
    font-size: 0.8em;
    margin-bottom: 1em;
    &:hover {
      color: #9e9e9e;
    }
    @include desde(640px){
      font-size: 1em;
    };
  }
}

.ms-h-h6 {
  font-family: $ms-ff-3;
  font-size: 1em;
  margin-bottom: 1em;
  @include desde(640px){
    font-size: 1.2em;
  };
}

.ms-h-h7 {
  font-family: $ms-ff-1;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1em;
  @include desde(640px){
    font-size: 24px;
  };
}

.ms-h-h8 {
  font-family: $ms-ff-2;
  font-size: 16px;
  text-align: left;
  margin-top: 10px;
  margin-bottom: 10px;
  @include desde(640px){
    font-size: 24px;
  };
}
