.ms-h-h1 {
  text-align: center;
  font-weight: bold;
  font-family: $ms-ff-1;
  font-size: 2em;
}

.ms-h-h2 {
  text-align: center;
  font-weight: bold;
  font-family: $ms-ff-3;
  font-size: 1.5em;
}
