.ms-c {
  text-align: center;
  display: flex;
  justify-content: center;
}

.ms-l {
  text-align: left;
  display: flex;
  justify-content: flex-start;
}

.ms-r {
  text-align: right;
  display: flex;
  justify-content: flex-end;
}
