<!doctype html>
<html class="no-js" lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MS plantillas</title>
  <link rel="stylesheet" href="/css/styles.css">
  <script src="/js/jquery.min.js"></script>
  <script src="/js/foundation.min.js"></script>
  <script src="/js/app.js"></script>
  <script src="/js/scrips.js"></script>
  <script src="/js/fontawesome-all.min.js"></script>
</head>

<body> 
  <!-- head para PC -->
  <div class="ms-header1 color-bg-b11">
    <div class="ms-header1__left">
      <a href="#" class="ms-header1__logo color-ct-white">
        <i class="far fa-futbol"></i>
        <span class="ms-header1__logo__a">ForoDS</span>
      </a>
       <div class="ms-header1__search">
        <i class="fas fa-search ms-header1__search__icon"></i>
        <input type="text" name="search" class="ms-header1__search__input" placeholder="Buscar un Tema en el Foro">
      </div> 
    </div>
    <div class="ms-header1__right">
      <a href="#" class="ms-header1__link color-ct-white">
        <i class="fas fa-futbol ms-header1__link__i"></i>
        <span>¿Qué es DS?</span>
      </a>
      <a href="#" class="ms-header1__link1 color-bg-b18 color-ct-white">
        <i class="fas fa-cart-plus ms-header1__link1__i"></i>
        <span>TIENDA</span>
      </a>
      <a href="#" class="ms-header1__link1 color-bg-b17 color-ct-white">
        <i class="fas fa-user ms-header1__link1__i"></i>
        <span>INGRESAR</span>
      </a>
    </div>
  </div> 
  <!-- head para movil -->   
  <div class="ms-header3">
    <div class="ms-header3__head color-bg-b10">
      <a href="#" class="ms-header3__head__item color-ct-white">
        <i class="fas fa-shopping-cart ms-header3__icon"></i>
        <span>Tienda</span>
      </a>
      <a href="#" class="ms-header3__head__item color-ct-white">
        DeportStart
      </a>
      <a href="#" class="ms-header3__head__item color-ct-white">
        <i class="fas fa-user ms-header3__icon"></i>
        <span>Entrar</span>
      </a>
    </div>
    <div class="ms-header3__ctrls">
      <i class="fas fa-bars ms-header3__ctrls__icon color-ct-c15"></i>
      <div class="ms-in-2">
        <i class="fas fa-search ms-in-2__icon color-ct-c19"></i>
        <input type="text" class="ms-in-2__txt" placeholder="Buscar un Tema en el Foro">
      </div>
    </div>
  </div>
  <!-- submenu  -->
  <div class="ms2-header2 color-bg-b22 color-ct-c20">              
    <h2 class="ms2-header2__principal "> DS</h2>
    <ul class="ms2-header2__urls">
        <li class="ms2-header2__urls__1">foros</li>
        <li class="ms2-header2__urls__1">Foro General</li>
    </ul>
  </div>
  <!-- Inicio del cuerpo -->
  <div class="cuerpo">
    <div class="grid-x grid-margin-x ">
      <div class="cell small-12 medium-6 large-3">
        <div class="ms2-bt5">
          <button class="ms2-bt5__button  color-ct-c11">
              <i class="fas fa-edit ms2-bt5__button__icon"></i>
              <p class="ms2-bt5__button__btn " >Proponer un Tema</p> 
          </button> 
        </div>
      </div>
    </div>

    <div class="ms2-card7">
        <div class="ms2-card7__left">
            <div class="ms2-card7__left__1">
                <img src="/img/ds-icon.jpg" alt="user" class="ms2-card7__left__1__item">
            </div>
            <div class="ms2-card7__left__2">
                <h4 class="ms2-card7__left__2__title color-ct-c20 ">  Titulo del tema Titulo del tema Titulo del tema </h4>
                <h5 class="ms2-card7__left__2__name color-ct-c20">Nombre del publicador</h5>
            </div>
        </div>
        <div class="ms2-card7__right">
            <div class="ms2-card7__right__1">
                <i class="far fa-comment ms2-card7__right__1__icon color-ct-c9 "></i>
                <h5 class="ms2-card7__right__1__num color-ct-c20">25</h5>
            </div>
            <div class="ms2-card7__right__2">
                <h5 class="ms2-card7__right__2__date color-ct-c20">Hace 2 dias</h5>
            </div>
        </div>
    </div>
    <div class="ms2-card7">
        <div class="ms2-card7__left">
            <div class="ms2-card7__left__1">
                <img src="/img/ds-icon.jpg" alt="user" class="ms2-card7__left__1__item">
            </div>
            <div class="ms2-card7__left__2">
                <h4 class="ms2-card7__left__2__title color-ct-c20 ">  Titulo del tema Titulo del tema Titulo del tema </h4>
                <h5 class="ms2-card7__left__2__name color-ct-c20">Nombre del publicador</h5>
            </div>
        </div>
        <div class="ms2-card7__right">
            <div class="ms2-card7__right__1">
                <i class="far fa-comment ms2-card7__right__1__icon color-ct-c9 "></i>
                <h5 class="ms2-card7__right__1__num color-ct-c20">25</h5>
            </div>
            <div class="ms2-card7__right__2">
                <h5 class="ms2-card7__right__2__date color-ct-c20">dd/mm/aa</h5>
            </div>
        </div>
    </div>
  </div>

</body>

</html>