<!doctype html>
<html class="no-js" lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MS plantillas</title>
  <link rel="stylesheet" href="/css/styles.css">
  <script src="/js/jquery.min.js"></script>
  <script src="/js/foundation.min.js"></script>
  <script src="/js/app.js"></script>
  <script src="/js/scrips.js"></script>
  <script src="/js/fontawesome-all.min.js"></script>
</head>

<body> 
  <!-- head para PC -->
  <div class="ms-header1 color-bg-b11">
    <div class="ms-header1__left">
      <a href="#" class="ms-header1__logo color-ct-white">
        <i class="far fa-futbol"></i>
        <span class="ms-header1__logo__a">ForoDS</span>
      </a>
       <div class="ms-header1__search">
        <i class="fas fa-search ms-header1__search__icon"></i>
        <input type="text" name="search" class="ms-header1__search__input" placeholder="Buscar un Tema en el Foro">
      </div> 
    </div>
    <div class="ms-header1__right">
      <a href="#" class="ms-header1__link color-ct-white">
        <i class="fas fa-futbol ms-header1__link__i"></i>
        <span>¿Qué es DS?</span>
      </a>
      <a href="#" class="ms-header1__link1 color-bg-b18 color-ct-white">
        <i class="fas fa-cart-plus ms-header1__link1__i"></i>
        <span>TIENDA</span>
      </a>
      <a href="#" class="ms-header1__link1 color-bg-b17 color-ct-white">
        <i class="fas fa-user ms-header1__link1__i"></i>
        <span>INGRESAR</span>
      </a>
    </div>
  </div> 
  <!-- head para movil -->   
  <div class="ms-header3">
    <div class="ms-header3__head color-bg-b10">
      <a href="#" class="ms-header3__head__item color-ct-white">
        <i class="fas fa-shopping-cart ms-header3__icon"></i>
        <span>Tienda</span>
      </a>
      <a href="#" class="ms-header3__head__item color-ct-white">
        DeportStart
      </a>
      <a href="#" class="ms-header3__head__item color-ct-white">
        <i class="fas fa-user ms-header3__icon"></i>
        <span>Entrar</span>
      </a>
    </div>
    <div class="ms-header3__ctrls">
      <i class="fas fa-bars ms-header3__ctrls__icon color-ct-c15"></i>
      <div class="ms-in-2">
        <i class="fas fa-search ms-in-2__icon color-ct-c19"></i>
        <input type="text" class="ms-in-2__txt" placeholder="Buscar un Tema en el Foro">
      </div>
    </div>
  </div>
  <!-- submenu  -->
  <div class="ms2-header2 color-bg-b22 color-ct-c20">              
    <h2 class="ms2-header2__principal "> DS</h2>
    <ul class="ms2-header2__urls">
        <li class="ms2-header2__urls__1">foros</li>
        <li class="ms2-header2__urls__1">Foro General</li>
    </ul>
  </div>
  <!-- Inicio del cuerpo -->
  <div class="cuerpo">
    <div class="ms2-card8">
            <div class="ms2-card8__header">
                    <h2 class="ms2-card8__header__title color-ct-c20"> Titulo del Tema</h2>                    
            </div> 
            <div class="ms2-card8__body">
                
                <div class="ms2-card8__body__above">
                    <div class="ms2-card8__body__above__left">
                        <img src="/img/p1.jpg" alt="user" class="ms2-card8__body__above__left__item"> 
                        
                    </div>
                    <div class="ms2-card8__body__above__right">
                        <div class="ms2-card8__body__above__right__1">
                            <h5 class="ms2-card8__body__above__right__1__name color-ct-c1">Nombre del usuario</h5>
                            <h3 class="ms2-card8__body__above__right__1__date color-ct-c19">Publicado el 01 de mayo del 2017</h3>
                        </div>
                        <div class="ms2-card8__body__above__right__2">
                            <p class="ms2-card8__body__above__right__2__text color-ct-c20">Lorem ipsum dolor sit amet 
                            consectetur adipisicing elit. Nesciunt odio facilis asperiores dolorem 
                            eveniet ullam repellendus dolores dignissimos iste, quaerat laborum facere 
                            eos voluptatibus esse soluta. Dolorem deleniti est quidem! facilis asperiores 
                            eveniet ullam repellendus dolores dignissimos iste, quaerat laborum facere 
                            eos voluptatibus esse soluta. Dolorem deleniti est quidem
                            Lorem ipsum dolor sit amet  dolorem dolorem 
                            consectetur adipisicing elit. Nesciunt odio facilis asperiores dolorem 
                            eveniet ullam repellendus dolores dignissimos iste, quaerat laborum facere 
                            eos voluptatibus esse soluta. Dolorem deleniti est quidem! facilis asperiores
                            eveniet ullam repellendus dolores dignissimos iste, quaerat laborum facere 
                            eos voluptatibus esse soluta. Dolorem deleniti est quidem</p> 
                        </div>
                        
                    </div>
                </div>
                <div class="ms2-bt3">
                    <!-- <button class="ms2-bt3__icon"><i class="fas fa-shopping-cart"></i></button> -->
                    <button class="ms2-bt3__button  color-ct-c20">
                        <i class="far fa-comment-alt ms2-bt3__button__icon color-ct-c11"></i>
                        <p class="ms2-bt3__button__btn " >COMENTAR</p> 
                    </button> 
                </div>
                
            </div>
    </div>
    <div class="ms2-card9 ">
        <div class="ms2-card9__body color-bg-b22">                    
            <div class="ms2-card9__body__above">
                <div class="ms2-card9__body__above__left">
                    <img src="/img/p1.jpg" alt="user" class="ms2-card9__body__above__left__item"> 
                </div>
                <div class="ms2-card9__body__above__right">
                    <div class="ms2-card9__body__above__right__1">
                        <h5 class="ms2-card9__body__above__right__1__name color-ct-c1">Nombre del usuario</h5>
                        <h3 class="ms2-card9__body__above__right__1__date color-ct-c19">dd/mm/aa</h3>
                    </div>
                    <div class="ms2-card9__body__above__right__2">
                        <p class="ms2-card9__body__above__right__2__text color-ct-c20">Lorem ipsum dolor sit amet 
                        consectetur adipisicing elit. Nesciunt odio facilis asperiores dolorem 
                        eveniet ullam repellendus dolores dignissimos iste, quaerat laborum facere 
                        eos voluptatibus esse soluta. Dolorem deleniti est quidem! facilis asperiores 
                        eveniet ullam repellendus dolores dignissimos iste, quaerat laborum facere 
                        eos voluptatibus esse soluta. Dolorem deleniti est quidem
                        Lorem ipsum dolor sit amet  dolorem dolorem 
                        consectetur adipisicing elit. Nesciunt odio facilis asperiores dolorem 
                        eveniet ullam repellendus dolores dignissimos iste, quaerat laborum facere 
                        eos voluptatibus esse soluta. Dolorem deleniti est quidem! facilis asperiores
                        eveniet ullam repellendus dolores dignissimos iste, quaerat laborum facere 
                        eos voluptatibus esse soluta. Dolorem deleniti est quidem</p> 
                    </div>
                    
                </div>
            </div>
            <div class="ms2-bt3">
                <!-- <button class="ms2-bt3__icon"><i class="fas fa-shopping-cart"></i></button> -->
                <button class="ms2-bt3__button  color-ct-c20">
                    <i class="far fa-comment-alt ms2-bt3__button__icon color-ct-c11"></i>
                    <p class="ms2-bt3__button__btn" >RESPONDER</p> 
                </button> 
            </div>
            <div class="ms2-bt4">
                <!-- <button class="ms2-bt3__icon"><i class="fas fa-shopping-cart"></i></button> -->
                <button class="ms2-bt4__button  color-ct-c21">                        
                    <p class="ms2-bt4__button__btn " >Ver las N respuestas</p>
                    <i class="fas fa-angle-down ms2-bt4__button__icon"></i> 
                </button> 
            </div>                  
        </div>
    </div>
    <!-- Inicio del footer  -->
    <div class="grid-x grid-margin-x align-center  ">
        <div class="cell small-12 medium-10 large-6">
                <div class="ms2-footer2">  
                    <p class="ms2-footer2__text">¿ Quieres Unirte a la conversación? Inicia Sesión</p>
                    <button class="ms2-footer2__btn color-ct-white color-bg-b13"> Iniciar sesión </button>
                </div>
        </div>
    </div>
  </div>

</body>

</html>