<!doctype html>
<html class="no-js" lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MS plantillas</title>
  <link rel="stylesheet" href="/css/styles.css">
  <script src="/js/jquery.min.js"></script>
  <script src="/js/foundation.min.js"></script>
  <script src="/js/app.js"></script>
  <script src="/js/scrips.js"></script>
  <script src="/js/fontawesome-all.min.js"></script>
</head>

<body> 
  <!-- head para PC -->
  <div class="ms-header1 color-bg-b11">
    <div class="ms-header1__left">
      <a href="#" class="ms-header1__logo color-ct-white">
        <i class="far fa-futbol"></i>
        <span class="ms-header1__logo__a">ForoDS</span>
      </a>
       <div class="ms-header1__search">
        <i class="fas fa-search ms-header1__search__icon"></i>
        <input type="text" name="search" class="ms-header1__search__input" placeholder="Buscar un Tema en el Foro">
      </div> 
    </div>
    <div class="ms-header1__right">
      <a href="#" class="ms-header1__link color-ct-white">
        <i class="fas fa-futbol ms-header1__link__i"></i>
        <span>¿Qué es DS?</span>
      </a>
      <a href="#" class="ms-header1__link1 color-bg-b18 color-ct-white">
        <i class="fas fa-cart-plus ms-header1__link1__i"></i>
        <span>TIENDA</span>
      </a>
      <a href="#" class="ms-header1__link1 color-bg-b17 color-ct-white">
        <i class="fas fa-user ms-header1__link1__i"></i>
        <span>INGRESAR</span>
      </a>
    </div>
  </div> 
  <!-- head para movil -->   
  <div class="ms-header3">
    <div class="ms-header3__head color-bg-b10">
      <a href="#" class="ms-header3__head__item color-ct-white">
        <i class="fas fa-shopping-cart ms-header3__icon"></i>
        <span>Tienda</span>
      </a>
      <a href="#" class="ms-header3__head__item color-ct-white">
        DeportStart
      </a>
      <a href="#" class="ms-header3__head__item color-ct-white">
        <i class="fas fa-user ms-header3__icon"></i>
        <span>Entrar</span>
      </a>
    </div>
    <div class="ms-header3__ctrls">
      <i class="fas fa-bars ms-header3__ctrls__icon color-ct-c15"></i>
      <div class="ms-in-2">
        <i class="fas fa-search ms-in-2__icon color-ct-c19"></i>
        <input type="text" class="ms-in-2__txt" placeholder="Buscar un Tema en el Foro">
      </div>
    </div>
  </div>
  <!-- submenu  -->
  <div class="ms2-header2 color-bg-b22 color-ct-c20">              
    <h2 class="ms2-header2__principal "> DS</h2>
    <ul class="ms2-header2__urls">
        <li class="ms2-header2__urls__1">foros</li>
    </ul>
  </div>
  <!-- inicio de cuerpo -->
  <div class="cuerpo">
    <div class="cuerpo__blog-soporte">
      <h5 class="cuerpo__blog-soporte__title color-ct-c20">ASISTENCIA</h5>
      <div class="grid-x grid-margin-x ">
        <div class="cell small-12 medium-6 large-4 ">
            <div class="ms2-card11">
                <div class="ms2-card11__left">
                    <i class="fas fa-wrench ms2-card11__left__icon color-ct-c4"></i>
                </div>
                <div class="ms2-card11__right color-ct-c20">
                    <h3 class="ms2-card11__right__title">Tutoriales y Guia</h3>
                    <p class="ms2-card11__right__content">Encuentra Guias para Utilizar la plataforma DS</p>
                </div>
            </div>
        </div>
        <div class="cell small-12 medium-6 large-4 ">
            <div class="ms2-card11">
                <div class="ms2-card11__left">
                    <i class="fas fa-ticket-alt ms2-card11__left__icon color-ct-c4"></i>
                </div>
                <div class="ms2-card11__right color-ct-c20">
                    <h3 class="ms2-card11__right__title">Crear nuevo Ticket</h3>
                    <p class="ms2-card11__right__content">¿Tienes alguna duda sobre Ds? Envianos un Ticket!</p>
                </div>
            </div>
        </div>        
      </div>
    </div>
    <div class="cuerpo__blog-general">
      <h5 class="cuerpo__blog-general__title color-ct-c20"> BLOG GENERAL</h5>
      <div class="grid-x grid-margin-x ">
          <div class="cell small-12 medium-6 large-4 ">
              <div class="ms2-card11">
                  <div class="ms2-card11__left">
                      <i class="fas fa-users ms2-card11__left__icon color-ct-c4"></i>
                  </div>
                  <div class="ms2-card11__right color-ct-c20">
                      <h3 class="ms2-card11__right__title"> Foro General </h3>
                      <p class="ms2-card11__right__content">Crea un Tema de Conversacion respecto a DS o al Deporte </p>
                  </div>
              </div>
          </div>
      </div>
    </div>
  </div>
   

        
</body>

</html>