.color-ct-white {
  color: #ffffff;
}

.color-ct-c1 {
  color: #424242;
}

.color-ct-c2 {
  color: #e53935;
}

.color-ct-c3 {
  color: #B71C1C;
}

.color-ct-c4 {
  color: #1fa345;
}

.color-ct-c5 {
  color: #7bc202;
}

.color-ct-c6 {
  color: #ffdd36;
}

.color-ct-c7 {
  color: #EEEEEE;
}

.color-ct-c8 {
  color: #1565C0;
}

.color-ct-c9 {
  color: #1E88E5;
}

.color-ct-c10 {
  color: #2ecc71;
}

.color-ct-c11 {
  color: #27ae60;
}
